/* ---------------------------------------------------------
  About Stylesheet
   ---------------------------------------------------------*/

@media screen {

  .section-about p {
    width: 80%;
    line-height: 1.8;
    margin: 0 auto 2.5rem auto;
    text-align: left;
  }

  .section-about p:last-child { margin-bottom: 0; }

}  /* Ende @media screen */
