/* ---------------------------------------------------------
  Header Stylesheet
   ---------------------------------------------------------*/

@media screen {

  header {
    height: 100vh;
    background-color: #26afeb;
  }

  header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/me.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
  }

  .logo-white,
  .logo-black {
    height: 4rem;
    width: auto;
    float: left;
    margin-top: 4rem;
  }

  .logo-black { display: none; }

  .hero-text-box {
    position: absolute;
    width: 114.0rem;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }

  /* ----- MAIN NAVIGATION -----*/
  .main-nav {
    float: right;
    list-style: none;
    margin-top: 5.5rem;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 4.0rem;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 0.2rem solid transparent;
    transition: border-bottom 0.2s;
  }

  .main-nav li a:hover,
  .main-nav li a:active {
    border-bottom: 0.2rem solid #e67e22;
  }

  /* ----- STICKY NAVIGATION -----*/
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.2rem #efefef;
  }

  .sticky .main-nav { margin: 1.4rem 0; }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    color: #555;
    padding-bottom: 1.2rem;
  }

  .sticky .logo-white { display: none; }

  .sticky .logo-black {
    display: block;
    height: 3rem;
    margin: 1rem 0;
  }

}  /* End @media screen */

/* Breakpoint for big tablets to desktop: from 1024 to 1200px */
@media only screen and (max-width: 1200px) {

  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

} /* End @media only screen and (max-width: 1200px) */

/* Breakpoint for small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {

  .hero-text-box { padding: 0 3%; }

} /* End @media only screen and (max-width: 1023px) */

/* Breakpoint for small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {

  .hero-text-box { padding: 0 4%; }
  .main-nav { display: none; }

} /* End @media only screen and (max-width: 767px) */

/* Breakpoint for small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

  .hero-text-box { padding: 0 5%; }

} /* End @media only screen and (max-width: 480px) */
