/* ---------------------------------------------------------
  Reviews Stylesheet
   ---------------------------------------------------------*/

@media screen {

  .section-reviews {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/devmountain.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
  }

  blockquote {
    position: relative;
    padding: 2%;
    margin-top: 4.0rem;
    font-style: italic;
    line-height: 145%;
  }

  blockquote:before {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    display: block;
    content: '\201C';
    font-size: 9.0rem;
  }

  cite {
    display: block;
    font-size: 1.62rem;
    margin-top: 2.5rem;
  }

  cite img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.0rem;
    vertical-align: middle;
  }

}  /* Ende @media screen */
