/* ---------------------------------------------------------
  Tools Stylesheet
   ---------------------------------------------------------*/

@media screen {

  .section-tools p {
    font-size: 1.8rem;
    line-height: 180%;
  }

  .box img {
      width: 100%;
      height: auto;
      margin-bottom: 1.5rem;
  }

}  /* Ende @media screen */
